.divNavbar{
    position: absolute;
    display: flex;
    width: 100%;
    height: 80px;
    padding: 30px 10px;
    justify-content: space-between;
    align-items: center;
}
.divNavbarBackground{
    background: #171717
}

.imgNavbar{
    height: 50px;
}

.divOptions{
    display: flex;
    align-items: center;
    gap: 30px;
}
.divOptions > a{
    color: #f0f0f0;
    font-size: 30px;
    font-weight: 800;
}
.divContUser{
    position: relative;
}
.divNavContUser{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 3px solid #f0f0f0;
    border-radius: 25px;
}
.divDropdown{
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 5px 0 5px 5px;
    background: #2563EB;
}
.divDropdownRow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.divDropdownRow > div{
    width: 2px;
    height: 15px;
    border-radius: 2px;
    background: #f0f0f0
}
.divDropdownRow > p{
    font-size: 25px;
    font-weight: 700px;
    color:#f0f0f0
}
.divDropdownRow > img{
    width: 25px;
}