body{
    background: #262626;
}
.divContent{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 120px 0 50px;
    gap: 50px;
}
.divContUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #171717;
}
.divUserProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imgUser{
    background: #f0f0f0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.btnFollow{
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    background: #FACC15;
    padding: 5px;
    border-radius: 2.5px;
}
.divInfoUser{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f0f0f0
}
.divNameUser{
    font-size: 30px;
    font-weight: 800;
}
.divStatusUser{
    display: flex;
    width: 100% ;
    justify-content: space-between
}
.divRowForm{
    display: flex;
    justify-content: space-between;
    gap: 20px
}
.divNumberUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-size: 20px
}
.txtLabelUser{
    font-size: 15px;
}
.divCollection{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    gap: 10px;
}
.divCollectionTitle{
    display: flex;
    align-items: center;
    gap: 5px;
}
.divCollectionTitle > p{
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 800;
}
#txtCountItems{
    font-weight: 500;
    font-size: 20px;
}
.divCollectionItems{
    display: flex;
    gap: 10px;
    height: 100px;
}
.divCollectionItem{
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    background: #262626;
    border-radius: 5px;
    padding: 5px;
}
.divCollectionItem > img{
    width: 100%;
    border-radius: 2.5px;
}

.divPostsArea{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 50px
}
.divPosts{
    display: flex;
    overflow: hidden;
    gap: 30px;
    scroll-behavior: smooth;
}
.divRowTitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.divRowOptions{
    display: flex;
    gap: 50px;
}
.divOptionsTitle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.txtOptionsTitle{
    background: none;
    font-size: 30px;
    font-weight: 700;
    color: #f0f0f04D;
    transition: all .1s linear;
    cursor: pointer;
}
.select{
    color: #F0F0F0
}
.divContUnderline{
    display: flex;
    justify-content: center;
    width:  70%;
    height: 8px;
}
.divUnderline{
    position: relative;
    background:  #FACC15;
    border-radius: 4px;
    width:  100%;
    height: 8px;
}
.appear{
    animation: appear .3s forwards linear;
}
.disappear{
    animation: disappear .3s forwards linear;
}

@keyframes appear {
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width:  100%;
        height: 8px;
    }
}

@keyframes disappear {
    0%{
        width:  100%;
        height: 8px;
    }
    100%{
        width: 0px;
        height: 0px;
    }
}


.btnNewPost{
    background: #FACC15;
    font-size: 25px;
    font-weight: 700;
    color: #171717;
    border-radius: 5px;
    padding: 0px 20px;
}

.divTypePost, .divCollectionContent{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 10px;
    gap: 30px
}
.divRowCollection{
    display: flex;
    gap: 1% 
}
.divCollectionContentItems{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 24%;
    min-height: 320px;
    background: #171717;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
}
.divCollectionContentItems > img {
    border-radius: 2.5px;
    width: 100%;
}
.divCollectionContentItems > .imgNewCube {
    width: 50%;
    align-self: center;
}
.divCollectionContentItems > .txtNewCube {
    color: #F0F0F0;
    font-size: 30px;
    align-self: center;
    font-weight: 800;
}
.btnEdit{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    background: #262626;
    padding: 5px;
    border-radius: 5px;
}
.btnEdit > img{
    width: 100%;
}
.itemInfo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.rarity{
    height: 25px;
}
.txtNameItem{
    color: #f0f0f0;
    font-size: 25px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.divTypePost > p{
    font-size: 35px;
    font-weight: 70;
    color: #f0f0f0;
}
.divRowCards{
    width: 100%;
    display: flex;
    gap: 1.75%
}
.divCard{
    display: flex;
    width: 18.6%;
    background: #171717;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border-radius: 5px;
}
.divUserCard > p{
    font-size: 10px;
    color: #f0f0f0;
    font-weight: 700;
}
.divTitleCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgCover{
    width: 100%;
}
.divContentCard{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.txtTitleContent{
    font-size: 20px;
    color: #f0f0f0;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.divRowData{
    display: flex;
    justify-content: space-between;
}
.txtContent{
    font-size: 15px;
    font-weight: 700;
    color: #F0F0F0;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
}
.divPostLikes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.btnPostEdit{
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.btnPostEdit > img, .divPostLikes > img{
    width: 25px;
}
.btnPostEdit > p, .divPostLikes > p{
    font-size: 18px;
    color: #f0f0f0;
}
.divBackgroundModal{
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: #000000D4;
}
.divModal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background: #262626;
    border-radius: 5px;
    padding: 20px;
}
.iptImg{
    height: 150px;
    background: none;
    border: 2px solid #F0F0F0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iptForm{
    border: 2px solid #F0F0F0;
    height: 50px;
    width: 100%;
    background: none;
    border-radius: 5px;
    padding: 10px;
    color: #F0F0F0;
    outline: none;
}
.iptForm > option{
    color: #171717
}
.iptDesc{
    height: 300px;
    border: 2px solid #F0F0F0;
    resize: none;
    background: none;
    border-radius: 5px;
    padding: 10px;
    color: #F0F0F0;
    outline: none;
}
input[type="file"]{
    display: none;
}
.divRowModal{
    display: flex;
    justify-content: space-between;
}
.divRowModal > button{
    width: 120px;
    height: 50px;
    font-weight: 800;
    font-size: 17px;
    border-radius: 5px;
}
.btnCancel{
    color: #DC2626;
    border: 2px solid #DC2626;
    background: none;
}
.divRowModal > .btnTrash{
    width: 50px;
    background: #DC2626;
}
.btnSend{
    color: #262626;
    border: 2px solid #EAB308;
    background: #FACC15;
}
.divRowLikes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divRowLikes > p{
    font-size: 30px;
    font-weight: 800;
    color: #f0f0f0;
}
.divRowLikes > div{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DC2626;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.divRowLikes > div > img{
    width: 40px;
    height: 40px;
}
.divNolikes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    font-size: 35px;
    font-weight: 800;
    color: #DC2626
}
.divNolikes > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 100px;
    border: 5px solid #DC2626;
}