body{
    background: #262626;
}
.divContent{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 120px 0 50px;
    gap: 50px;
}
.divContUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #171717;
}
.divUserProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imgUser{
    background: #f0f0f0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.divInfoUser{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f0f0f0
}
.divNameUser{
    font-size: 30px;
    font-weight: 800;
}
.divStatusUser{
    display: flex;
    width: 100% ;
    justify-content: space-between
}
.divNumberUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-size: 20px
}
.txtLabelUser{
    font-size: 15px;
}
.divCollection{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    overflow: hidden;
    gap: 10px;
}
.divCollectionTitle{
    display: flex;
    gap: 10px;
}
.divCollectionTitle > p{
    color: #f0f0f0;
    font-size: 25px;
    font-weight: 700;
}
.divCollectionItems{
    display: flex;
    gap: 10px;
}
.divCollectionItem{
    min-width: 100px;
    height: 100px;
    background: #262626;
    border-radius: 5px;
    padding: 5px;
}