.divRegister{
    display: flex;
    width: 100%;
    height: 100vh;
}
.divSpaceship{
    width: 50%;
    height: 100vh;
    background-image: url("../assets/imgs/background.png");
    background-size: cover;
}
.divForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 5%;
    background: #262626;
    position: relative;
}
.top{
    position: absolute;
    top: 0
}
.divRow{  
    display: flex;
    width: 100%;
    padding: 20px 40px;
    height: min-content;
    justify-content: space-between;
    align-items: center;
}
.goBack{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    gap: 20px
}
.goBack > p{
    font-size: 30px;
    font-weight: 700;
    color: #f0f0f0
}

.goBack > img{
    height: 30px;
}
.logo{
    height: 90px;
}

.divContRegister{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 90%;
}
.divLineOptions{
    display: flex;
    width: 100%;
    gap: 30px;
}
.divOptions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.txtOptions{
    font-size: 30px;
    font-weight: 700;
    color: #f0f0f04D;
}
.select{
    color: #F0F0F0
}
.divUnderline{
    width: 50px;
    height: 8px;
    background:  #FACC15;
    border-radius: 5px
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.divTitle{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: #f0f0f0;
}
.divInput{
    display: flex;
    height: 80px;
    padding: 10px 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #F0F0F0; 
}
.divImgInput{
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.divImgInput > img{
    width: 50%
}
.divInput > input{
    height: 100%;
    width: 100%;
    font-size: 25px;
    background: none;
    outline: none;
    color: #f0f0f0
}
.divInput > input::placeholder{
    font-weight: 700;
}
.divSign{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px
}
.signUp{
    width: 100%;
    height: 50px;
    background: #FACC15;
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
    border: 3px solid #EAB308;
}
.doLogin{
    font-size: 25px;
    font-weight: 700;
    color: #F0F0F0;
    text-align: center;
}
.toLogin{
    color: #FACC15
}